
        <!-- Footer -->
        <footer class="odd">

            <!-- Footer [links] -->
            <section id="footer" class="footer">
                <div class="container">
                    <div class="row items footer-widget">
                        <div class="col-12 col-lg-3 p-0">
                            <div class="row">
                                <div class="branding col-12 p-3 text-center text-lg-left item">
                                    <div class="brand">
                                        <a href="/" class="logo">
                                            Coding Confessions.                                 
                                            <!-- 
                                                Custom Logo
                                                <img src="assets/images/logo.svg" alt="Leverage">
                                            -->
                                        </a>
                                    </div>
                                    <p>Normalising failure in<br /> research software.</p>
                                    <ul class="navbar-nav social share-list mt-0 ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-9 p-0">                            
                            <h4 class="title">Mental Health</h4>
                            <p>Proin tristique, tellus nec viverra feugiat, velit velit malesuada sapien, eget commodo libero augue non est. Sed nisl dolor, tempus eget rhoncus nec, lobortis id turpis. Duis varius elementum arcu sed euismod. Aenean non ante at metus ornare varius ut a orci. Proin gravida ornare diam ut pellentesque. Mauris commodo vitae neque eget tincidunt. Maecenas tincidunt convallis tortor nec bibendum.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Copyright -->
            <section id="copyright" class="p-3 copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 p-3 text-center text-lg-left">
                            <p><a href="{{ site.baseurl }}{% link privacy.markdown %}">Privacy</a></p>
                        </div>
                        <div class="col-12 col-md-6 p-3 text-center text-lg-right">
                            <p>Thanks <a href="https://github.com/Coding-Confessions/coding-confessions.github.io" target="_blank">Github Pages</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

        </footer>

<!-- Scroll [to top] -->
<div id="scroll-to-top" class="scroll-to-top">
    <a href="#header" class="smooth-anchor">
        <i class="icon-arrow-up"></i>
    </a>
</div>  