<!-- Header -->
<header id="header">
    <!-- Navbar -->
    <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
        <div class="container header">
            <!-- Navbar Brand-->
            <a class="navbar-brand" href="{{ site.baseurl }}{% link index.markdown %}">
                CodingConfessions
                <!-- 
                    Custom Logo
                    <img src="assets/images/logo.svg" alt="Leverage">
                -->
            </a>
            <!-- Nav holder -->
            <div class="ml-auto"></div>
            <!-- Navbar Items -->
            <ul class="navbar-nav items">
                <li class="nav-item">
                    <a href="#about" class="nav-link smooth-anchor">About</a>
                </li>
                <li class="nav-item">
                    <a href="#confessions" class="nav-link smooth-anchor">Read Confessions</a>
                </li>
            </ul>
            <!-- Navbar Toggle -->
            <ul class="navbar-nav toggle">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                        <i class="icon-menu m-0"></i>
                    </a>
                </li>
            </ul>
            <!-- Navbar Action -->
            <ul class="navbar-nav action">
                <li class="nav-item ml-3">
                    <a href="#contact" class="btn ml-lg-auto primary-button smooth-anchor">MAKE A CONFESSION</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


