---
layout: default
---


        <!-- Hero -->
        <section id="slider" class="hero p-0 featured">
            <div class="swiper-container no-slider animation slider-h-100">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">

                        <img src="{{ "/assets/images/bg-7.jpg" | relative_url }}" class="full-image" data-mask="60">

                        <div class="slide-content row">
                            <div class="col-12 d-flex inner">
                                <div class="center align-self-center text-center">
                                    <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Normalising failure.</h1>
                                    <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto mr-auto">Normalising failure in research software creates an inclusive space for sharing experiences, and generates opportunity to learn.</p>
                                    <a href="#about" data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor ml-auto mr-auto mt-5 btn primary-button">LEARN MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Content -->
        <section id="about" class="section-1 single featured">
            <div class="container">
                <div class="row content">

                    <!-- Main -->
                    <main class="col-12 col-lg-8 p-0">

                        <!-- Text -->
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <h2 class="featured mt-0 ml-0">What is Coding Confessions?</h2>
                                <p>Simply put:</p>
                                <p>
                                    <blockquote>"Where somebody admits to mistakes or bad practice in code they've developed."</blockquote>
                                </p>
                                <h3 class="mt-5 ml-0">What's the problem?</h3>
                                <p>Everybody who develops software has at some point written some software badly, quickly, cut corners or simply made a mistake that made it function incorrectly. Due to <a href="https://dev.to/kevinhickssw/even-senior-developers-have-imposter-syndrome-4e8f">imposter syndrome</a> many people feel like this makes them less worthy developers.</p>
                                <p>Often the root cause is time pressure to make something that "just works" (or at least appeared to). These little short cuts often end up becoming core pieces of software upon which research conclusions and publications are based. People don't like to admit to making mistakes, cutting corners or not following best practice, sometimes hiding these problems away. </p>
     
                                <h3 class="mt-5 ml-0">Why do this?</h3>
                                <p>We want to:</p>
                                <ul>
                                        <li>Change the culture of research so that mistakes can be disclosed without fear.</li>
                                        <li>Document mistakes and allow the entire community to benefit from the lessons learned. These will be published on our <a href="{{ site.baseurl }}{% link blog.markdown %}">blog</a>.</li>
                                </ul>
                                
                                <h3 class="mt-5 ml-0">How to submit a confession</h3>
                                
                                <p>Please only submit a confession about something you did yourself, don't submit confessions about the work of others.</p>
                                <p>Send us one paragraph about each of the following:</p>
                                <ul>
                                        <li>The background to the problem, what were you trying to do?</li>
                                        <li>The mistake you made.</li>
                                        <li>What steps can be taken to avoid this mistake in the future.</li>
                                </ul>
                                <p>You can do this publicly (with atribution) or privately (anonymously). We will then publish them on our <a href="{{ site.baseurl }}{% link blog.markdown %}">blog</a>.</p>
                                <p>See this <a href="{{ site.baseurl }}{% link _posts/2021-04-01-confession-template.markdown %}">example blog</a> post. </p>
                                <p>See the <a href="{{ site.baseurl }}{% link confess.markdown %}">submit a confession</a> page for more information.</p>
                                </ul>
                                
                            </div>
                        </div>

                    </main>
                    
                    <!-- Sidebar -->
                    <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">                    
                        <div class="row">
                            <div class="col-12 align-self-center text-left">

                                <!-- Widget [services] -->
                                <div class="item widget-services">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a href="{{ site.baseurl }}{% link confess.markdown %}">
                                                <i class="icon icon-bubble"></i>
                                                <h5>Submit a confession to us</h5>
                                            </a>
                                        </li>                                            
                                        <li class="list-group-item">
                                            <a href="{{ site.baseurl }}{% link events.markdown %}">
                                                <i class="icon icon-badge"></i>
                                                <h5>How to run a Confessions Workshop at your own event</h5>
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="{{ site.baseurl }}{% link blog.markdown %}">
                                                <i class="icon icon-book-open"></i>
                                                <h5>Read confessions in our blog.</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </aside>

                </div>
            </div>
        </section>

            <section id="confessions" class="section-2 odd body-mode-dark showcase blog-grid masonry news">
                        <div class="row text-center intro">
                            <div class="col-12">
                                <h2>Confessions</h2>
                                <p class="text-max-800">Below are the latest confessions from our blog.</p>
                            </div>
                        </div>                        
                        <div data-aos="zoom-in" data-aos-delay="800" data-aos-anchor="body" class="container">
                          <div class="row content blog-grid masonry">
                            <main class="col-12 p-0">
                              <div class="bricklayer items columns-3">
                                {% for post in site.posts %}
                                  <div class="card p-0 text-center item">
                                    <div class="image-over">
                                      <img src="assets/images/news-7-h.jpg" alt="Lorem ipsum">
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                      <div class="card-body">
                                        <a href="{{ post.url | relative_url }}">
                                          <h4>{{ post.title }}</h4>
                                        </a>
                                      </div>
                                      <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>{{ post.author }}</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>{{ post.date | date: "%-d %B %Y" }}</a>
                                      </div>
                                    </div>
                                  </div>                          
                                {% endfor %}  
                              </div>
                            </main>
                          </div>
                          <!-- Pagination
                          <div class="row">
                            <div class="col-12">
                              <nav>
                                <ul class="pagination justify-content-center">
                                  <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1">
                                      <i class="icon-arrow-left"></i>
                                    </a>
                                  </li>
                                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                                  <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                                  <li class="page-item">
                                    <a class="page-link" href="#">
                                      <i class="icon-arrow-right"></i>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                          </div> -->
                        </div>
                      </section>
